<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


  <targets>
    <!--文件保存方式-->
    <target  name="file" xsi:type="File" fileName="${basedir}/log/${shortdate}.log" encoding="utf-8" >
      <layout type='JsonLayout'>

        <attribute name="Level" layout="${level:upperCase=true}"/>
        <attribute name="Time" layout="${longdate}" />
        <attribute name="Tag" layout="${callsite:className=true:methodName=true:skipFrames=1}" />
   
        <!--转换编码-->
        <attribute name='Message' escapeUnicode="false" layout='${message}' />
        <attribute name='Exception' escapeUnicode="false" layout='${exception}' />

        <attribute name="UserDeta"  escapeUnicode="false" layout="${event-properties:item=UserDeta}" />
        <attribute name="Types"  escapeUnicode="false" layout="${event-properties:item=Types}" />


      </layout>

    </target>
    <!--文件保存方式 end-->
    
    <!--输出到控制台-->
    <target  name="coloredConsole" xsi:type="ColoredConsole" encoding="utf-8" layout="${longdate} [${level}]:${message}"/>

  </targets>
  <rules>

    <!--DEBUG以上错误输出到文件-->
    <logger name="*"  minlevel="DEBUG"  writeTo="file" />
    <!--一般调试信息输出到控制台-->
    <logger name="*"  minlevel="TRACE"  writeTo="coloredConsole" />
  </rules>


</nlog>